body{
    background-color: #EDDDD0;
    display: grid;
}
header {
    background-color: #A6CAD4;
}
nav{
    background-color: lightblue;
    text-align: center;
}
ul{
    display: inline-block;
}
.headerindex{
    font-family: 'Montserrat', sans-serif;
}